# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# blade build directory & file
blade-bin
build64_release
.Building.lock
.blade.test.stamp
.sconsign.dblite
